---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <p id="publish-box">Bangladesh Core FHIR Implementation Guide - Published by Ministry of Health and Family Welfare (v0.2.0). See the <a href="https://fhir.dghs.gov.bd/core/history.html">Directory of published versions</a></p>
  {% include fragment-base-navtabs.html type='{{[type]}}' id='{{[id]}}' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: {{[title]}} - Change History</h2>
  <p>History of changes for {{[id]}} {{type | downcase}}.</p>

  {%include {{[type]}}-{{[id]}}-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
